<br><br><br>
<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>New Matiere</b></h4>
            </div> 
          </div>
        </div>
        <form #productForm="ngForm">
          <div class="table-content">
            <!-- Name Field -->
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">VALEUR<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input
                  type="number"
                  class="form-control"
                  id="name"
                  required
                  maxlength="255"
                  [(ngModel)]="note.valeur"
                  name="name"
                  #name="ngModel"
                />
                <div *ngIf="name.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!name.errors?.['required']">
                    Name is required
                  </div>
                </div>
              </div>
            </div>
             
          </div>
          <div class="form-group row">
            <label for="classeId" class="col-sm-3 col-form-label">ETUDIANT<span class="requiredStar">*</span></label>
            <div class="col-sm-9">
              <select name="classeId" class="form-control" [(ngModel)]="note.etudiant">
                <option selected disabled>Choisissez un etudiant</option>
                <option *ngFor="let etudiant of listEtudiant" [value]="etudiant.id">
                  {{ etudiant.prenom }} {{ etudiant.nom }}  
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="classeId" class="col-sm-3 col-form-label">Matiere<span class="requiredStar">*</span></label>
            <div class="col-sm-9">
              <select name="classeId" class="form-control" [(ngModel)]="note.matiere">
                <option selected disabled>Choisissez un etudiant</option>
                <option *ngFor="let matiere of listMatiere" [value]="matiere.id">
                  {{ matiere.nom }}  
                </option>
              </select>
            </div>
          </div>
          <div class="table-footer">
             <button class="btn btn-success" (click)="addNote(note)">Submit</button> 
          </div>
        </form>
      </div>
    </div>
  </div>
  